@page
@model Query2Model

@{
    ViewData["Title"] = "Index";
}

<h1>Games Details</h1> <br>
<h5> <a href="./Queries">go back</a> </h5> <br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].Winner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].PlayerShape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].ServerShape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].NumberOfMoves)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblGames) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerShape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerShape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfMoves)
            </td>
        </tr>
}
    </tbody>
</table>
